<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<style>
    .cen {
        font-size: 30px;
        text-align: center;
    }
</style>
<body>
<div class="container-fluid text-center">
    <div><h2>Total number of states speaking given languages</h2></div>
    <div class="cen">
        <a th:href="@{/states/export}" class="child">Export as PDF</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Official Language Name</th>
                <th>Number of States</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="lang : ${listStates1}">
                <tr>
                    <td>[[${lang.getLangName}]]</td>
                    <td>[[${lang.getTotal}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>