<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitleSW}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitleSW}]]</h2></div>
    <form th:action="@{/stateWars/save}" method="post" th:object="${stateWar}" style="max-width: 550px; margin: 0 auto;">
        <input type="hidden" th:field="*{warSKey}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Territory during War</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{territoryWar}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Population during War (in mln)</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{populationWar}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">GDP during War (in bln)</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{gdpWar}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">On Date</label>
                <div class="col-sm-8">
                    <input type="date" step="0.01" th:field="*{onDateWar}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                    <select th:field="*{stateW}" class="form-control" required>
                        <th:block th:each="state : ${listStates}">
                            <option th:text="${state.officialStateName}" th:value="${state.idState}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">War</label>
                <div class="col-sm-8">
                    <select th:field="*{war}" class="form-control" required>
                        <th:block th:each="war1 : ${listWars}">
                            <option th:text="${war1.warName}" th:value="${war1.idWar}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/wars}]]";
    }
</script>
</body>
</html>